.accordion-button {
  background: #292d30;
  color: #d9e2ef;
}

.accordion-button:not(.collapsed) {
  background: #292d30;
  color: #d9e2ef;
}

.accordion-item {
  background: #292d30;
}

.accordion-button::after {
  filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}
