body {
  background-color: #202124;
}

.modal-content {
  margin: auto 20px;
  background-color: #3c4043;
}

.modal-backdrop {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
}

.accordion-button {
  background: #292d30;
  color: #d9e2ef;
}

.accordion-button:not(.collapsed) {
  background: #292d30;
  color: #d9e2ef;
}

.accordion-item {
  background: #292d30;
}

.accordion-button::after {
  filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #d9e2ef !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px #6c63ff !important;
}
