.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #d9e2ef !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px #6c63ff !important;
}
